ul.social-list
    li.social-item
        a(href='/')
            img.social-logo(src=img_path + 'social-logo/facebook-logo.svg' alt='facebook-logo')
    li.social-item
        a(href='/')
            img.social-logo(src=img_path + 'social-logo/twitter-logo.svg' alt='twitter-logo')
    li.social-item
        a(href='/')
            img.social-logo(src=img_path + 'social-logo/line-logo.svg' alt='line-logo')