link(rel='stylesheet', href=css_path + 'reset.css')
link(rel='stylesheet', href=css_path + 'template.css')
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;600&display=swap" rel="stylesheet")
//- link(rel='stylesheet', href=plugin_path + 'flickity.css')
//- link(rel='stylesheet', href=image_path + '000.png')
