section.section.container
    h2.section-title Our Story
    .about-content
        img.about-image(src=img_path + 'our-story.jpg' alt='Photo by Raoul Ortega on Unsplash')
        .about-info
            p.about-description
                | Vel orci porta non pulvinar. Non sodales neque sodales ut etiam
                | sit amet nisl purus. Eget dolor morbi non arcu risus quis. Posuere
                | urna nec tincidunt praesent semper feugiat nibh sed. Scelerisque
                | purus semper eget duis. Dictumst quisque sagittis purus sit amet
                | volutpat consequat mauris nunc. Imperdiet massa tincidunt nunc
                | pulvinar sapien et ligula ullamcorper. Scelerisque in dictum non
                | consectetur a erat nam. Amet mauris commodo quis imperdiet massa.
                | Amet venenatis urna cursus eget.
            a.button(href='about.html') Know Us More
