section.section.container
    h2.section-title Collections
    ul.collection-list
        li.collection-item.collection-item-one.hover-elevate
            h3.collection-item-title Classic
            p Nisl purus in mollis nunc sed id semper. Et tortor at risus viverra adipiscing at in.
        li.collection-item.collection-item-two.hover-elevate
            h3.collection-item-title Sport
            p Egestas diam in arcu cursus euismod quis.
        li.collection-item.collection-item-three.hover-elevate
            h3.collection-item-title Sandal
            p Placerat in egestas erat imperdiet sed euismod. Gravida quis.
        li.collection-item.collection-item-four.hover-elevate
            h3.collection-item-title Casual
            p Dignissim diam quis enim lobortis scelerisque fermentum dui.