header.menu-bar-wrapper
  .menu-bar.container
    img.logo(src=img_path + 'logo.png')
    nav.nav-menu
      ul.nav-list
        li.nav-item
          a.nav-link(href="/") Collections
        li.nav-item
          a.nav-link(href="/") Products
        li.nav-item
          a.nav-link(href="/") About